#header {
  background-color: #ddd;
  position: relative;

  display: flex;
  justify-content: center;
}

#logo {
  /* font-size: 1.4rem; */

  position: absolute;
  left: 30px;
  top: 10px;
}
#gnb {
  /* display: flex; */
  /* text-align: center; */
}
#gnbList {
  display: flex;
  /* box-sizing: border-box; */

  /* justify-content: space-between; */
}
#gnbList li a {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
}
#gnbList li a:hover {
  background-color: #bbb;
  color: #fff;
}
.container {
  width: 100vw;
  height: 300px;
  background-color: #eee;
  overflow: hidden;
}
.wrapper01 {
  display: flex;

  width: 300%;
  height: 100%;
  transform: translateX(-200vw);
  transition: 1s;
}
.wrapper01 li {
  display: flex;
  width: 100vw;

  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}
.item button {
  width: 40px;
  margin: 10px 10px;
}

.banner {
  background-color: #eee;
  /* padding: auto 50px; */
}
/* h2 {
  margin-top: 30px;
  display: flex;
  justify-content: center;
} */
.bannerList {
  display: flex;
  justify-content: center;
}
.bannerList li {
  overflow: hidden;

  padding: 50px 0;
  margin: auto 10px;
}

.bannerList li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 200px;
  overflow: hidden;
}
.bannerList li a:hover img {
  height: 120%;
  transition: 0.25s;
}
.bannerList img {
  height: 100%;
  display: flex;
  justify-content: center;

  /* border: solid black 3px; */
}
.bannerList a {
  height: 100%;
}

.btnChat {
  display: flex;
  border: solid black 3px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  bottom: 50px;
  right: 50px;
  position: fixed;
  align-items: center;
  justify-content: center;

  animation: fadein 0.5s;
}
@keyframes fadein {
  from {
    opacity: 0;
    bottom: 30px;
  }
}
